body {
    background-color: #7a7a82;
    margin-top: 20%;
}

#fixed-background {
    position: fixed;
    top: 80%;
    margin-right: 150px;
    margin-left: 50px;
    width: 90%;
    height: 30%;
    background-color: #CECDBE;
    z-index: -1;
}

#content-container {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

#title {
    margin-top: 40px;
    font-family: Verdana, sans-serif;
    margin-left: 50px;
}

#picture {
    width: 450px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid #ebf1f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
}

#box {
    margin-left: 40%;
    margin-bottom: 20px;
    padding: 15px;
    width: 590px;
    margin-top: -340px;
}

#box p {
    margin: 30px;
}

hr.solid {
    border-top: 3px solid rgba(166, 161, 161, 0.83);
    width: 1370px;
    margin-left: 50px;
    margin-top: 50px;
}

#video {
    margin-left: 37%;
}
#title{

}