#map {
    height: 0;
}

#location {
    margin-top: 2em; /* or another relative unit */
    margin-right: 4em; /* or another relative unit */
}

#suggestionsContainer {
    margin-top: 3em; /* or another relative unit */
    margin-right: 1em; /* or another relative unit */
}


#suggestionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#suggestionList li {
    padding: 5px;
    cursor: pointer;
}

/* Add this to your existing CSS */
#description {
    width: 50%; /* Set the width as needed */
    height: 100px; /* Set the height as needed */
    resize: vertical; /* Allow vertical resizing */
}
