
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.navbar {
    padding: 25px;
    border: 2px solid whitesmoke;
    background-color: white !important;
    font-family: 'Roboto', monospace;
}

.navbar-nav {
    margin-right: -60px;
}

.navbar-nav li {
    margin-right: 73px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #2a2828;
    font-weight: bold;
    font-size: 16px;
    margin-right: 75px;
}

#drone {
    margin-left: 90px;
}

#droneVision {
    margin-left: 50px;
}

.login-box:hover {
    background-color: rgba(255, 255, 255, 0.61);
}

.login-box {
    position: absolute;
    top: 2px;
    left: calc(50% + 200px);
    right: -20px;
    bottom: 725px;
    padding: 10px 20px;
    z-index: 5;
    transform: skew(-25deg);


    position: fixed;

}
.login-button {
    display: inline-block;
    padding: 35px 105px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -12px;
    margin-left: -24px;
    background-color: transparent;
    background-color: rgba(224, 222, 222, 0.42);
}

.login-button:hover {
    background-color: rgba(224, 222, 222, 0.42);
    color: black;
}

.tilmeld-button {
    padding: 35px 20%;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: -13px;
    margin-top: -11px;
    background-color: transparent;
    background-color: rgba(224, 222, 222, 0.42);

}

.tilmeld-button:hover {
    background-color: rgba(224, 222, 222, 0.42);
    color: #000000;
}

