<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>
    <link rel="stylesheet" href="../aboutUs.css">
</head>

<body>
<div id="header-placeholder"></div>

<div id="color">
    <h1 id="title">Et team der leverer knivskarpe produkter til dig!</h1>
    <img id="picture" src="../Nihat.jpg.png">

    <div id="box">
        <p>
            Velkommen til DroneVisoner, hvor lidenskab møder professionel ekspertise inden for dronefotografi og
            videografi. Ledet af den erfarne Nihat og hans dedikerede team tilbyder vi en unik serviceoplevelse. Med
            vores licens og års erfaring bringer vi din vision til live gennem enestående billeder og videoer. Jeg, en
            50-årig visionær med to elskede døtre, har fundet min passion i droneoptagelse efter mange års rejse
            gennem forskellige brancher.
            Mit engagement og kærlighed til at fange øjeblikke afspejles i hvert
            projekt. Jeg inviterer dig til at opleve vores ekspertise – send os en anmodning, book os til din næste
            begivenhed, og lad os sammen skabe uforglemmelige billeder fra luften. Jeg ser frem til at dele denne
            rejse med dig og levere billeder, der taler mere end tusind ord.
        </p>

    </div>


</div>
<hr class="solid">

<script src="/js/header.js"></script>
</body>

</html>
