<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../aboutUs.css">

    <title>AboutUs</title>
</head>

<body>
<div style="margin-bottom: 3rem" id="header-placeholder"></div>
<div id="fixed-background"></div>

<div class="content-container">
<div id="color">
    <h1 id="title">Et team der leverer knivskarpe produkter til dig!</h1>
    <img id="picture" src="../Nihat.jpg.png">

    <div id="box">
        <p>
            Velkommen til DroneVisoner, hvor lidenskab og professionel ekspertise mødes inden for dronefotografi og -videografi. Ledet af den erfarne Nihat og hans dedikerede team tilbyder vi en unik serviceoplevelse. Med vores licens og års erfaring bringer vi din vision til live gennem enestående billeder og videoer.
        </p>

        <p>
            Inviter os til din næste begivenhed, og lad os sammen skabe uforglemmelige billeder fra luften. Vi ser frem til at dele denne rejse med dig og levere billeder, der taler mere end tusind ord.
        </p>
        <br><br>
    </div>
    <hr class="solid">
    <br><br><br>
    <div class="row">
        <div class="col-md-6 mb-3">
            <video id="video" width="130%" height="auto" loop autoplay muted playbackRate="0.5">
                <source src="../videos/production_id_4686755 (2160p).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>


</div>
<div id="footer-placeholder"></div>
</body>

</html>
