<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../navBar.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">
  <script src="/js/header.js"></script>
  <script src="/js/footer.js" defer></script>


</head>
<body>
<div id="header-placeholder"></div>

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../photos/foto.png" class="d-block w-100" alt=" Secound slide">
        <div class="frontText">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Drone booking</h1>
            <p>Lad os se verden sammen fra helt nye vinkler, med vores drone service</p>
            <br>
            <p><a class="myButton" class="btn btn-lg" style="background-color: rgba(35,116,1,0.88); color: white; text-decoration: none; display: inline-block; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s, box-shadow 0.3s;" href="drone.html">SE MERE</a></p>
          </div>
        </div>
      </div>
      </div>

      <div class="carousel-item">
        <img src="../photos/droneeee.jpg" class="d-block w-100" alt="First slide" style="height: 670px;">
        <div class="frontText">
        <div class="container">
          <div class="carousel-caption text start">
            <h1>Foto booking</h1>
            <p>Lad hvert fotografi fortælle sin egen historie</p>
            <p><a class="myButton" class="btn btn-lg" style="background-color: rgba(35,116,1,0.88); color: white; text-decoration: none; display: inline-block; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s, box-shadow 0.3s;" href="photo.html">SE MERE</a></p>
          </div>
        </div>
      </div>
      </div>
     <!-- <div class="carousel-item">
        <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    !-->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <br>  <br>  <br>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 text-center mx-auto">
        <h2 class="featurette-heading" placement="">Drone flyvning. <span class="text-muted">Tag på en opdagelsesrejse i skønheden fra oven</span></h2>
        <p class="lead"></p>
      </div>
<br>
      <video width="78%" height="auto" loop autoplay muted>
        <source src="../droneVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <br><br>

    <hr class="featurette-divider">
    <br> <br> <br>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading-center">Drone Eventyr i HD. <span class="text-muted">Oplev hver eneste detalje fra himlen.</span></h2>
        <p class="lead">Dyk ned i verdenen af high-definition luftvideografi. Vores avancerede droner fungerer som tidsmaskiner, der fanger øjeblikke i kinematisk kvalitet. De bringer begivenheder, landskaber og historier til live med enestående klarhed og præcision!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- Replace the image with the YouTube video -->
        <video width="78%" height="auto" loop autoplay muted>
          <source src="../droneVideo2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <br> <br> <br>

    <hr class="featurette-divider">
    <br>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <!-- FOOTER -->

</main>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
<br><br><br><br><br><br><br>
<div id="footer-placeholder"></div>





